In [7]:
s='Apple'
s[0:2]

'Ap'

In [8]:
days = ['Sun', 'Mon', 'Tue', 'Wed','Thur', 'Fri', 'Sat']

In [10]:
md=days[3:5]
md

['Wed', 'Thur']

In [12]:
x=days[:]

In [13]:
del x[2]
x

['Sun', 'Mon', 'Wed', 'Thur', 'Fri', 'Sat']

In [15]:
lst = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
print(lst[:4])
print(lst[3:6])
print(lst[3:4])
print(lst[-3:-1])
print(lst[3:])

['a', 'b', 'c', 'd']
['d', 'e', 'f']
['d']
['f', 'g']
['d', 'e', 'f', 'g', 'h']

In [26]:
prod = 'bread'
cost = 2
wght = 700
total = cost*wght
print(prod, cost, wght, total)

bread 2 700 1400

In [14]:
t=open("data.txt",'r')
s=t.read()
t.close()
print(s)

126 Lilo  12.5 8.2 7.1 3.2
456 Steve 4.0 10.4 6.5 2.7 12
789 Janne 6.0 8.0 8.0 8.5 7.5

In [19]:
def numWords(filename):
    '''returns the number of words in file   
    filename'''

    infile = open(filename)
    content = infile.read()
    infile.close()
    wordList = content.split()

    return len(wordList)
numWords('data.txt')

20

In [22]:
input = open("data.txt")
for line in input:
    print(line.strip()) 
input.close()

126 Lilo  12.5 8.2 7.1 3.2
456 Steve 4.0 10.4 6.5 2.7 12
789 Janne 6.0 8.0 8.0 8.5 7.5

In [29]:
w= open("text.txt",'w')
w.write("123")
w.close()

In [40]:
w= open("text.txt",'a')
w.write("\n123")
w.close()

t=open("text.txt",'r')
t.read()
t.close()
print(s)

123
123
123
123
123
123
123
123

In [56]:
with open('text.txt','a') as t:
    t.write("\n123")
   # t.close()
    
with open('text.txt','r') as t:
    s=t.read()
   # t.close()

print(s)

123
123
123
123
123
123
123

In [57]:
lst=[3,1,-7,-4,9,-2]
def negative (lst):
    for i in range(len(lst)):
        if lst[i] < 0:
            return i
    return -1

negative(lst)

2